.card-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.card {
    width:360px;
    height:560px;
    background-color: SteelBlue;
    border-radius: 30px;
    font-size: 120%;
    transition: 1s;
}

.card:hover {
    background-color: Blue;
    border: 3px solid black;
    transition: 1s;
}

img {
    position: relative;
    top: 25px;
    left: 40%;
    transform: translateX(-38%);
    border-radius: 30px;
}

p {
    position: relative;
    left: 55px;
    top: 20px;
}

h3 {
    position: relative;
    left: 90px;
    top: 20px;
}