.card-container {
display: flex;
flex-wrap: wrap;
juctity-content: center;
gar: 16px;
padding: 16px
}

.card {
background-color: #ffffff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 300px;
border-radius: 8px;
overflow: hidden;
padding: 16px;
}

.card img {
width: 100%;
height: auto;
}

.card h3 {
margin-top: 16px;
margin-bottom: 8px;
}

.card p {
color: #777;
}